TELEGRAM_BOT_TOKEN=
ALLOWED_USER_IDS=

OPENLIST_WEBDAV_URL=http://do.Licen.live:525/dav
OPENLIST_USERNAME=
OPENLIST_PASSWORD=

OPENLIST_API_URL=http://do.Licen.live:525
OPENLIST_API_TOKEN=
OPENLIST_OFFLINE_ENDPOINT=/api/fs/add_offline_download
OPENLIST_MKDIR_ENDPOINT=/api/fs/mkdir
OPENLIST_LIST_ENDPOINT=/api/fs/list
OPENLIST_OFFLINE_LIST_ENDPOINT=/api/task/offline_download/list
OPENLIST_DEFAULT_DOWNLOAD_DIR=/downloads
OPENLIST_DEFAULT_OFFLINE_TOOL=aria2
